@font-face {
    font-family: Cyberverse;
    src: url(../Cyberverse.otf);
  }

body {
    font-family: Cyberverse;
    font-size: 16px;
    background-color: rgba(0,0,0);
}

.main__clock {
    font-size: 5rem;
    color: rgb(100,200,255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}